@media only screen and (min-width:1024px) {
    body,header {
        background-color: #fff
    }

    article img {
        width: 29.333%
    }

    header {
        position: relative;
        max-width: 100%;
        height: 100%;
        margin: 0 auto;
        padding: .9rem 4rem;
        font-size: 20px
    }

    header h1 {
        margin: 0;
        display: inline-block;
        color: #fff;
        float: none
    }

    header .subheading {
        font-size: 1.1em;
        color: #fff;
        display: contents
    }

    nav .hidehamburger {
        display: none
    }

    nav li a,nav ul li,nav ul.hide {
        display: inline
    }

    div.summary ul {
        padding: 1%;
        position: absolute;
        top: 26px;
        left: 250px;
        list-style-type: none
    }

    .active,header {
        display: block
    }

    div.summary ul,footer {
        background-color: #fff
    }

    footer aside {
        background-color: #376092;
        display: grid;
        grid-template-columns: 20% 30% 30% 20%;
        grid-gap: 0
    }

    footer,footer aside,footer>p,nav ul li {
        text-align: center
    }

    .contact {
        justify-self: end;
        margin-right: 80px
    }

    #towndata {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr
    }

    #events,.forecast {
        border: #376092
    }

    .forecast {
        display: inline-block
    }

    .forecast img {
        width: 100%
    }

    table {
        display: table;
        border-collapse: separate;
        border-spacing: 2px;
        border-color: gray
    }

    td {
        width: 100px
    }

    header img {
        width: 600px;
        height: auto;
        float: none
    }@    media only screen and (min-width:1000px) {
        div.gallery{grid-template-columns: 1fr 1fr 1fr;
        max-width: 100%;
        margin: 0
    }
}

.gallery {
    display: grid;
    width: 200%
}}