@media only screen and (min-width:320px) {
    * {
        box-sizing: border-box
    }

    .contact,article,footer,header,main,nav,section {
        margin: 1.55rem auto;
        max-width: 100%
    }

    header {
        font-family: 'Gill Sans','Gill Sans MT',Calibri,'Trebuchet MS',sans-serif;
        display: flex;
        justify-content: center;
        padding: .5rem
    }

    body,h2,h4,header {
        text-align: center
    }

    body {
        line-height: 32px;
        font-size: 16px
    }

    h1,header {
        font-size: 26px;
        color: #376092
    }

    body,h1,h2 {
        font-family: 'Gill Sans','Gill Sans MT',Calibri,'Trebuchet MS',sans-serif
    }

    h3 {
        border: 2px solid #376092
    }

    h2,h4 {
        font-size: 24px
    }

    article,footer,main,nav,section {
        padding: .5rem
    }

    footer aside,nav ul {
        background-color: #376092
    }

    footer aside {
        color: #fff;
        display: flex
    }

    .contact {
        color: #fff;
        display: inline;
        grid-column-start: 2
    }

    .contact,footer a,main,nav {
        font-family: 'Gill Sans','Gill Sans MT',Calibri,'Trebuchet MS',sans-serif
    }

    footer,footer a,main,nav li a {
        text-align: center;
        color: #376092
    }

    nav {
        color: #fff;
        background: #376092;
        justify-content: space-around
    }

    nav button {
        margin: .2rem 2%;
        background-color: transparent;
        border: 0;
        font-size: 1.2rem;
        color: #fff
    }

    nav ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden
    }

    nav ul.hide {
        display: none
    }

    nav li {
        float: none
    }

    nav li a {
        display: block;
        color: #fff;
        padding: 14px 16px;
        text-decoration: none
    }

    nav li a:hover:not(.active) {
        background-color: #f2b800
    }

    nav li a:active {
        background-color: #f2b800
    }

    header img {
        width: 100%;
        height: auto;
        float: none
    }

    .summary,article img {
        position: relative
    }

    form {
        max-width: 400px;
        margin: auto
    }

    #towndata img {
        width: 70%
    }

    article img {
        width: 200%;
        height: 175px
    }

    article p {
        display: inline-block;
        width: 350px
    }

    .forecast {
        display: none
    }

    .townEvents {
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-family: 'Gill Sans','Gill Sans MT',Calibri,'Trebuchet MS',sans-serif
    }

    #googleMap,#towndata p,.townEvents h2 {
        margin: auto
    }

    .townEvents img {
        float: left
    }

    .summary img,section img {
        width: 70%;
        height: auto;
        float: none
    }

    section img {
        width: 250px
    }

    #towndata p,div.gallery,footer,form {
        display: block
    }

    div.summary ul {
        padding: 1%;
        position: absolute;
        top: 26px;
        left: 175px;
        background-color: #fff;
        list-style-type: none
    }

    div.gallery img {
        max-width: 100%
    }

    footer {
        font-size: 12px;
        font-family: 'Gill Sans','Gill Sans MT',Calibri,'Trebuchet MS',sans-serif
    }

    .footer-bar {
        width: 100%
    }

    #googleMap {
        width: 300px;
        height: 200px;
        border: 1px solid #376092;
        display: center
    }
}