    
@media only screen and (min-width: 1024px) {
    /* Styles */
    body {
        background-color:white;
    }
    article img {
        width: 29.333%;
    }
    header {
        position: relative;
        display: table-cell;
        max-width: 100px;
        height: 30%;
        margin: 0 auto;
        padding: 0.9rem 9.5rem;
        background-color:  white;
        font-size: 20px;
    }
    header h1 {

        margin: 0;
        display: inline-block;
        color: #fff;
        float: none;
    }
    header .subheading {
        font-size: 1.1em;
        color: #fff;
        display: contents;
    }

    nav ul.hide {
        display: inline;
    }
    
    nav .hidehamburger {
        display: none;
    }
    
    nav ul li {
        display: inline;
        text-align: center;
    }

    div.summary ul {
        padding: 1%;
        position: absolute;
        top: 26px;
        left: 250px;
        background-color: white;
        list-style-type: none;
    }

    .active {
        display: inline-block;
    }
    footer {
        text-align: center;
        background-color:white;
        
    }
    footer aside {
        text-align: center;
        background-color:#ED7D31;
        display: grid;
        grid-template-columns: 20% 30% 30% 20%;
        grid-gap: 0px;
    }
    footer>p {
        text-align: center;}

    .contact {
        justify-self: end;
        margin-right: 80px;
    }

#towndata{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

#events {
    border:#ED7D31;
}
.forecast {
    display: inline-block;
    border: #ED7D31;
}

.forecast img {
    width: 100%;
}

table {
    display: table;
    border-collapse: separate;
    border-spacing: 2px;
    border-color: grey;
}

td {
    width: 100px;
}

header img {
    width: 200px;
    height: auto;
    float: none;
}

nav li a {
    display: inline;
    
  }
/*large gallery styles*/

@media 
only screen 
and (min-width: 
1000px) {

div.reservations {
    display: inline-flex;
    margin: 0; 
}  

div.reservationstwo {
    display: inline-flex;
    margin: 0; 
}

div.home img {
    display: inline-flex;
    width: 23%;
}
div.gallery {
grid-template-columns: 1fr 1fr;
max-width: 100%;
margin: 0;

}


}

  .gallery {
    display: grid;
    width: 200%

}

}
  